
.vs/NGPServer/v16/Browse.VC.db
.vs/NGPServer/v16/Browse.VC.db-shm
.vs/NGPServer/v16/Browse.VC.db-wal
.vs/NGPServer/v16/Browse.VC.opendb
.vs/NGPServer/v16/ipch/AutoPCH/a42244c9e4afa3d4/소스.ipch
.vs/NGPServer/v16/.suo
.vs/NGPServer/v16/ipch/AutoPCH/9c0c9eb9c79e5651/소스.ipch
x64/Debug/NGPServer.exe
x64/Debug/NGPServer.exe.recipe
x64/Debug/NGPServer.ilk
x64/Debug/NGPServer.log
x64/Debug/NGPServer.pdb
x64/Debug/NGPServer.tlog/CL.command.1.tlog
x64/Debug/NGPServer.tlog/CL.read.1.tlog
x64/Debug/NGPServer.tlog/CL.write.1.tlog
x64/Debug/NGPServer.tlog/link.command.1.tlog
x64/Debug/NGPServer.tlog/link.read.1.tlog
x64/Debug/NGPServer.tlog/link.write.1.tlog
x64/Debug/NGPServer.tlog/NGPServer.lastbuildstate
x64/Debug/NGPServer.vcxproj.FileListAbsolute.txt
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/소스.obj
.vs/NGPServer/v16/ipch/AutoPCH/12ec3cfd40a5d347/소스.ipch
sample.txt
x64/Release/NGPClient.exe.recipe
x64/Release/NGPClient.vcxproj.FileListAbsolute.txt
x64/Release/NGPServer.exe
x64/Release/NGPServer.exe.recipe
x64/Release/NGPServer.iobj
x64/Release/NGPServer.ipdb
x64/Release/NGPServer.log
x64/Release/NGPServer.pdb
x64/Release/NGPServer.tlog/CL.command.1.tlog
x64/Release/NGPServer.tlog/CL.read.1.tlog
x64/Release/NGPServer.tlog/CL.write.1.tlog
x64/Release/NGPServer.tlog/link.command.1.tlog
x64/Release/NGPServer.tlog/link.read.1.tlog
x64/Release/NGPServer.tlog/link.write.1.tlog
x64/Release/NGPServer.tlog/NGPServer.lastbuildstate
x64/Release/NGPServer.tlog/NGPServer.write.1u.tlog
x64/Release/NGPServer.vcxproj.FileListAbsolute.txt
x64/Release/vc142.pdb
x64/Release/소스.obj
sample.txt
sample.txt
x64/Debug/NGPServer.Build.CppClean.log
